body {
  background-image: url("https://nibsvanderspuy.com/wp-content/uploads/2016/07/nibs-bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1;
}
#filtre {
  background-color: black;
  opacity : 0.3;
  background-size: cover;
  background-attachment: fixed;
  margin :-30px;
  height : 700px;
  width : 1460px;
  z-index: 2;

}
#Rsociaux {
  opacity : 0.5;
  margin-top: -660px;
  display : flex;
  justify-content: flex-end;
  z-index: 3;
}
#Rsociaux img {
  height : 20px;
  width : 20px;
  opacity : 0,7;
  z-index: 3;
}
